In [ ]:
# Create a Tuple

tuple1 = ("Shivam","sourabh","abhiket")
print(tuple1)

('Shivam', 'sourabh', 'abhiket')

In [ ]:
# Accessing Tuple Items

tuple1 = ("Shivam","sourabh","abhiket")
print(tuple1[0])

Shivam

In [ ]:
# Negative Indexing

# Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

tuple1 = ("Shivam","sourabh","abhiket")
print(tuple1[-1])


#

print(tuple1[-2])
print(tuple1[-3])

abhiket
sourabh
Shivam

In [ ]:
# Range of Indexes

# You can specify a range of indexes by specifying where to start and where to end the range.

# When specifying a range, the return value will be a new tuple with the specified items.

a = ("hims","chau","achin","Shivam","sourabh","abhiket")
print(a[2:5])

# Negative Range

print(a[-4:-1])

('achin', 'Shivam', 'sourabh')
('achin', 'Shivam', 'sourabh')

In [ ]:
# Change Tuple Values

# Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable.

# But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

a = ("hims","chau","achin","Shivam","sourabh","abhiket")
b = list(a)
print(b)

b.append("shalin")
print(b)

a = tuple(b)
print(a)
print(type(a))

['hims', 'chau', 'achin', 'Shivam', 'sourabh', 'abhiket']
['hims', 'chau', 'achin', 'Shivam', 'sourabh', 'abhiket', 'Pulkit']
('hims', 'chau', 'achin', 'Shivam', 'sourabh', 'abhiket', 'Pulkit')
<class 'tuple'>

In [ ]:
# Loop Through A Tuple

a = ("hims","chau","achin","Shivam","sourabh","abhiket")
for i in a:
  print(i)

hims
chau
achin
Shivam
sourabh
abhiket

In [ ]:
# Check whether name exists in tuple

a = ("hims","chau","achin","Shivam","sourabh","abhiket")
if "Ankit" in a:
  print("Yes it Exists")
else:
  print("No")

No

In [ ]:
# Length of a Tuple

a = ("hims","chau","achin","Shivam","sourabh","abhiket")
print(len(a))

6

<h3>Important</h3>

In [ ]:
x = ("achin")
print(type(x))

# As u see its not a tuple its a string with only one element

<class 'str'>

In [ ]:
y = ("achin",)
print(type(y))

# See now its a tuple

<class 'tuple'>

In [ ]:
# Joining Two Tuples

m = ("achin",)
n = ("Tarun",)

o = m + n
print(o)
print(type(o))

('achin', 'Tarun')
<class 'tuple'>

In [ ]:
# count()   # It Returns number of times value appears in a tuple

a = ("hims","chau","achin","hims","sourabh","abhiket")

g = a.count("achin")
f = a.count("Rohan")

print(g)
print(f)

1
0

In [ ]:
# index()    # Search for the first occurrence of the value 4, and return its position:

t = (0,1,2,4,3,5,4,6,4,7,2,1,8)

t1 = t.index(4)
print(t1)

3

In [ ]:
# max()   # It returns the elements from the tuple with maximum value.   # In Strings it compares through ASCII Codes.


tuple1, tuple2 = ("PQR", 'abc', 'shyam', 'ram'), (956, 1000, 1200)
print("Max value element : ", max(tuple1))
print("Max value element : ", max(tuple2))

Max value element :  shyam
Max value element :  1200

In [ ]:
# min()   # It returns the elements from the tuple with minimum value.   # In Strings it compares through ASCII Codes.


tuple1, tuple2 = ("PQR", 'abc', 'shyam', 'ram'), (956, 1000, 1200)
print("Min value element : ", min(tuple1))
print("Min value element : ", min(tuple2))

Min value element :  PQR
Min value element :  956