In [ ]:
# Lets Create A list

a = ["Apple","Mango","Orange","Grapes"]

# Lets Apply For Loop

for i in a:     # i is an iterator and it starts from 0.
  print(i)

Apple
Mango
Orange
Grapes

In [ ]:
# Lets Create a string with my Name

b = "Himanshu Patel"

# Apply For Loop

for i in b:
  print(i)

H
i
m
a
n
s
h
u

P
a
t
e
l

In [ ]:
# Using break statement we can stop the loop at a given condition:

# For Loop With Break Statements:
a = ["Apple","Mango","Orange","Grapes"]

for i in a:
    if i=="Orange":     # Condition 1
      break
    print(i)

Apple
Mango

In [ ]:
# With the continue statement we can stop the current iteration of the loop, and continue with the next:

a = ["Apple","Mango","Orange","Grapes"]
for i in a:
  if i=="Mango":
    continue
  print(i)

Apple
Orange
Grapes

In [ ]:
# Range Function

# The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default)
# and ends at a specified number.

for i in range(0,10):    # Remeber last_index = last_index - 1
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# We can also define increment step just like this:

for i in range(0,15,3):            # Here 0 is a start index,15 is a end index, and 3 is a increment step.
  print(i)

0
3
6
9
12

In [ ]:
# Nested For Loops

a = ["hims","tarun","chau","hardik"]
b = [1,2,3,4]

for i in a:
  for j in b:
    print(i,j)

hims 1
hims 2
hims 3
hims 4
tarun 1
tarun 2
tarun 3
tarun 4
chau 1
chau 2
chau 3
chau 4
hardik 1
hardik 2
hardik 3
hardik 4

In [ ]:
# Pass Statment

# for loops cannot be empty,
# but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.


for i in range(0,10):
  pass

# Exercise:
try to find the total paper fold required to reach to the moon from the surface of the earth. (hint: assume paper thickness, find the distance between earth to moon, use python loop)