# Type Conversion

In [ ]:
10 + "A"

In [ ]:
a = 10

b = "20"

print(type(a))
print(type(b))

print(a + b)

<class 'int'>
<class 'str'>

TypeError: ignored

In [ ]:
a = 10

b = "20"

print(type(a))
print(type(b))

c = int(b)

print(a + c)

print(type(c))

<class 'int'>
<class 'str'>
30
<class 'int'>

In [ ]:
a = 10

b = "A"

print(int(b))

In [ ]:
a = 100

b = 200

print(type(a))
print(type(b))

c = str(a)
d = str(b)

print(type(c))
print(type(d))

print(c + d)

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
100200

In [ ]:
"A" + "B"

'AB'

In [ ]:
"India" + " is the " + "Best"

'India is the Best'

In [ ]:
a = 10.65

print(a)
print(type(a))

b = int(a)

print(type(b))
print(b)

10.65
<class 'float'>
<class 'int'>
10